.div1 {width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.div2 {height: 400px;
    background-color: lightcoral;
}

.div3 {height: 50px;
background-color: aquamarine;
}

.div4 {height: 50px;
    background-color: darkorchid;
}